/* ========= 全站基调：QQ音乐风 ========= */
:root{
  --card-border: #e6e6e6;
  --text: #222;
  --sub: #666;
  --brand: #1db954;
  --page-bg: #f5f5f5;
}

*{ box-sizing: border-box; }
/* 统一修改所有文字的字体 */
* {
  font-family: 'Roboto', sans-serif; /* 替换为你选择的字体 */
}





html, body {
  background: #ccc;
  height: 100%;
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
/* 全站隐藏滚动条（不建议长期隐藏，除非你确定要） */
::-webkit-scrollbar { width: 0; height: 0; }


body {
  margin: 0;
  min-width: 350px;
  min-height: 100vh;
  display: block;     /* ✅ 不要 flex 居中 */
  background: #ccc;     /* 你想要的浅灰背景 */
}

/* 让 app 不要固定 1280 和 text-align:center */
#app {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: initial;
}


/* ElementPlus：不要圆角 */
.el-card, .el-input__wrapper, .el-button, .el-tabs__item,
.el-table, .el-table__header-wrapper, .el-table__body-wrapper{
  border-radius: 0 !important;
}
img{ border-radius: 0 !important; }

/* 链接 */
a{ color: inherit; text-decoration: none; }
a:hover{ color: var(--brand); }

/* 按钮不要用 Vite 默认黑按钮（会影响） */
button{
  font-family: inherit;
}
