<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pang.mapper.SysOperationLogMapper">

    <select id="selectAdminPage" resultType="com.pang.entity.SysOperationLog">
        SELECT * FROM sys_operation_log
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                    admin_username LIKE CONCAT('%', #{keyword}, '%')
                    OR module LIKE CONCAT('%', #{keyword}, '%')
                    OR action LIKE CONCAT('%', #{keyword}, '%')
                    OR path LIKE CONCAT('%', #{keyword}, '%')
                    OR ip LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="success != null">
                AND success = #{success}
            </if>
        </where>
        ORDER BY id DESC
    </select>

</mapper>